.container {
  display: grid;
  grid-template-columns: 500px 500px;
  padding: 40px;
  gap: 40px;
}
.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  /* color: white; */
  text-align: center;
  white-space: nowrap;

  transition: opacity 0.3s ease;
}
.image-container:hover .text-overlay {
  opacity: 1; /* Show text overlay on hover */
}

.text a {
  padding: 3px 8px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: red;
}

.text a:hover {
  padding: 8px 20px;
}

.right {
  margin-right: 75px;
}

.site {
  margin-top: -4px;
  padding-bottom: 2px;
}
